.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formInput {
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover,
.btn:focus {
  background-color: #45a049;
}

.mainP {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}
