.navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #e0e0e4;

  > nav {
    display: flex;
    gap: 5px;
  }
}

.navigate__item {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navigate__item:hover {
  color: white;
  background-color: #4caf50;
}

.active {
  color: white;
  background-color: #4caf50;
}
