.userMenu {
  display: flex;
}

.name {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.btn {
  color: black;
  background-color: #4caf50;
  border: none;
  font-weight: 500;
}

.btn:hover,
.btn:focus {
  background-color: #45a049;
}
